body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background: #2a3d66;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

table {
  margin: 2rem auto;
  width: 90%;
  border-collapse: collapse;
  background: white;
}

th {
  background: #394b75;
  color: white;
  padding: 10px;
}

td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background: #f5f5f5;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.btn {
  background-color: #2a3d66;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #3b528e;
}
